@using Sandbox;
@using Sandbox.UI;
@using System.Linq;
@using System;
@inherits PanelComponent
@attribute [StyleSheet]

@code
{
	[Property, GameResource("PNG Image", "png", ""), ResourceType("png")]
	public Texture AttackStanceImageResource { get; set; }

	[Property, GameResource("PNG Image", "png", ""), ResourceType("png")]
	public Texture DefendStanceImageResource { get; set; }

	public const string BUTTON_DISABLED_STYLE = "flex";
	public const string BUTTON_ENABLED_STYLE = "none";
	public const string BUTTON_EVENTS_ENABLED_STYLE = "all";
	public const string BUTTON_EVENTS_DISABLED_STYLE = "none";

	public bool showPanel = true;

	private DynamicToggleButton unitStanceButton;

	private string AttackStanceImagePath;
	private string DefendStanceImagePath;

	private string focusedUnitPortraitImage;
	private string focusedUnitHealth;
	private string selectedUnitName;
	private string selectedUnitTeam;
	private string selectedUnitMeleeDamage;
	private string selectedUnitRangedDamage;

	private bool isSingleUnitSelected;
	private bool selectionPresent;

	//private string displayButton

	public List<DynamicButton> currentButtonList { get; set; }

	public SelectableObject focusedUnit;

	/* public void setButtons(List<DynamicButton> newbuttonList)
		* {
		* }
		*/

	protected override void OnStart()
	{
		base.OnStart();
		AttackStanceImagePath = AttackStanceImageResource.ResourcePath.Split(".")[0] + ".png";
		DefendStanceImagePath = DefendStanceImageResource.ResourcePath.Split(".")[0] + ".png";
		unitStanceButton = new DynamicToggleButton('z', AttackStanceImagePath, DefendStanceImagePath, stanceButtonClicked);
		currentButtonList = new List<DynamicButton>();
		focusedUnitPortraitImage = "";
		focusedUnitHealth = "";
		selectedUnitName = "";
		selectedUnitTeam = "";
		selectedUnitMeleeDamage = "";
		selectedUnitRangedDamage = "";
		isSingleUnitSelected = false;
		selectionPresent = false;
		focusedUnit = null;

		//TEST CODE
		currentButtonList.Add(unitStanceButton);
		for(int i=0;i<14;i++)
		{
			currentButtonList.Add(new DynamicButton('a', DefendStanceImagePath, printy));
		}
		/////
	}

	protected override void OnUpdate()
	{
		base.OnUpdate();
		this.StateHasChanged();
	}

	public string getFocusedUnitHealthString()
	{
		if(focusedUnit != null)
		{
			return "Health: " + getUnitHealthString(focusedUnit);
		}
		return "";
	}

	public string getUnitHealthString(SelectableObject unit)
	{
		if(unit.Tags.Has("unit"))
		{
			//var specificUnit = (SkinnedModelRenderer)unit;
			return ((SkinnedRTSObject)unit).currentHealthPoints + "/" + ((SkinnedRTSObject)unit).MaxHealth;
		}
		else
		{
			return "";
		}
	}

	//BS TEST FUNCTION
	public void printy()
	{
		Log.Info("Button Clicked!");
	}

	private string getFocusedUnitPortraitImage()
	{
		if (focusedUnit == null)
		{
			return DefendStanceImagePath;
		}
		else
		{
			return focusedUnit.PortraitImage;
		}
	}

	public void setSelectionVars(bool isSelect, bool isSingleUnitSelected, bool isUnitInAttackStance)
	{
		Log.Info("setSelectionVars(isSelect=" + isSelect + ", isSingleUnitSelected=" + isSingleUnitSelected + ", isUnitInAttackStance=" + isUnitInAttackStance);
		focusedUnit = null;
		if(isSelect)
		{
			// Setup Stance Button
			unitStanceButton.setEnabled(true);

			if (isSingleUnitSelected)
			{
				var selectedObjList = RTSPlayer.Local.UnitControl.SelectedObjects;
				this.isSingleUnitSelected = true;
				this.selectionPresent = true;
				if(selectedObjList.Any())
				{
					// Grab stats
					foreach (SelectableObject obj in selectedObjList)
					{

						focusedUnit = obj;
						focusedUnitPortraitImage = obj.PortraitImage;
						selectedUnitName = obj.name;
						selectedUnitTeam = "Team " + obj.team.ToString();
						if (obj.Tags.Contains("unit"))
						{
							focusedUnitHealth = "Health: " + ((SkinnedRTSObject)obj).currentHealthPoints + "/" + ((SkinnedRTSObject)obj).MaxHealth;
							selectedUnitMeleeDamage = "Melee Damage: " + ((Unit)obj).MeleeAttackDamage;
							selectedUnitRangedDamage = "Ranged Damage: " + ((Unit)obj).RangedAttackDamage;
						}
						else
						{
							selectedUnitMeleeDamage = "";
							selectedUnitRangedDamage = "";
							focusedUnitHealth = "";
						}
					}

					if (isUnitInAttackStance)
					{
						unitStanceButton.setButtonState(AttackStanceImagePath);
					}
					else
					{
						unitStanceButton.setButtonState(DefendStanceImagePath);
					}
				}
				else
				{
					
				}
			}
			else
			{
				if (RTSPlayer.Local.UnitControl.SelectedObjects.Count() > 0)
				{
					SelectableObject firstUnit = RTSPlayer.Local.UnitControl.SelectedObjects.First();
					//focusedUnit = firstUnit;
					unitListItemClicked(firstUnit);
					//unitStanceButton.buttonState = !(((Unit)focusedUnit).isInAttackMode);
				}

				focusedUnitPortraitImage = "";
				focusedUnitHealth = "";
				selectedUnitName = "";
				selectedUnitTeam = "";
				selectedUnitMeleeDamage = "";
				selectedUnitRangedDamage = "";
				this.isSingleUnitSelected = false;
				this.selectionPresent = true;
			}
		}
		else
		{
			focusedUnitPortraitImage = "";
			focusedUnitHealth = "";
			selectedUnitName = "";
			selectedUnitTeam = "";
			selectedUnitMeleeDamage = "";
			selectedUnitRangedDamage = "";
			focusedUnit = null;
			this.isSingleUnitSelected = false;
			this.selectionPresent = false;

			unitStanceButton.setEnabled(false);
		}

		this.StateHasChanged();
		this.Panel.Style.Dirty();
	}

	public void stanceButtonClicked()
	{
		if (unitStanceButton.activeBackgroundImage == AttackStanceImagePath)
		{
			((Unit)focusedUnit).setIsInAttackMode(false);
		}
		else
		{
			((Unit)focusedUnit).setIsInAttackMode(true);
		}
		unitStanceButton.toggleButtonState();
		this.StateHasChanged();
		this.Panel.Style.Dirty();
	}

	public void unitListItemClicked(SelectableObject unit)
	{
		Log.Info("Clicked Unit List Item " + unit.GameObject.Name);
		focusedUnit = unit;

		if (((Unit)focusedUnit).isInAttackMode)
		{
			unitStanceButton.setButtonState(AttackStanceImagePath);
		}
		else
		{
			unitStanceButton.setButtonState(DefendStanceImagePath);
		}
		this.StateHasChanged();
		this.Panel.Style.Dirty();
	}

	public void setShowPanel(bool setShow)
	{
		showPanel = setShow;
	}
}
<root>
	<div class="bottomPanel">
		<div class="minimapSubPanel"></div>
		<div class="statusSubPanel">
			<div class="portraitStatusPanel">
				<div style="background-image: url(@(getFocusedUnitPortraitImage()));" class="portraitImage"></div>
				<div class="portraitStatusFocused">@(getFocusedUnitHealthString())</div>
			</div>
			<div class=@(isSingleUnitSelected ? "infoStatusPanel" : "infoStatusPanelMultiple")>
				@if(selectionPresent == true && isSingleUnitSelected != true)
				{
					foreach (SelectableObject selectedUnit in RTSPlayer.Local.UnitControl.SelectedObjects)
					{
						<div @onclick="@(() => unitListItemClicked(selectedUnit))" class=@(focusedUnit == selectedUnit ? "portraitStatusPanelListItemFocused" : "portraitStatusPanelListItem")>
							<div style="background-image: url(@(selectedUnit.PortraitImage));" class="portraitImage"></div>
							<div class="portraitStatusList">@(getUnitHealthString(selectedUnit))</div>
						</button>
					}
				}
				else if(selectionPresent == true)
				{
					<div class="singleUnitStatusName">@(selectedUnitName)</div>
					<div class="singleUnitStatusTeam">@(selectedUnitTeam)</div>
					<div class="singleUnitStatusMeleeDamage">@(selectedUnitMeleeDamage)</div>
					<div class="singleUnitStatusRangedDamage">@(selectedUnitRangedDamage)</div>
				}
			</div>
		</div>
		<div class="dynamicButtonSubPanel">
			@foreach (var button in currentButtonList)
			{
				<button style="background-image: url(@(button.activeBackgroundImage)); pointer-events: @(button.getPointerEventsStyle());" @onclick="@( () => button.OnClick())" class="dynamicButtonSlot">
					<div style="color: @(button.getIsDisabledStyleHint());" class="buttonHintText">@(button.hotkeyChar)</div>
					<div style="display: @(button.getIsDisabledStyle());" class="buttonDisabledOverlay"></div>
				</button>
			}
		</div>
	</div>
</root>

<!--/*unitListItemClicked(selectedUnit)*/ -->
